<div class="row">
  <form>
    <div class="col-lg-6 col-md-6 col-sm-6">
      
      <div class="form-group">
        <!-- Trade name -->
        <label for="tradeName">Trade name*</label>
        <input class="form-control" type="text" id="tradeName" name="tradeName" placeholder="Enter your trade name here..." required>

        <!-- Trade address -->
        <label for="tradeAddress">Trade address*</label>
        <input class="form-control" type="text" id="tradeAddress" name="tradeAddress" required>

        <!-- Postal code -->
        <label for="postalCode">Postal code*</label>
        <input class="form-control" type="text" id="postalCode" name="postalCode" required>

        <!-- City -->
        <label for="city">City*</label>
        <input class="form-control" type="text" id="city" name="city" required>

        <!-- Phone -->
        <label for="phone">Phone*</label>
        <input class="form-control" type="text" id="phone" name="phone" required>

        <!-- Cellhone -->
        <label for="cellphone">Cellphone</label>
        <input class="form-control" type="text" id="cellphone" name="cellphone">

        <!-- Fax -->
        <label for="fax">Fax</label>
        <input class="form-control" type="text" id="fax" name="fax">

        <!-- Email -->
        <label for="email">Email</label>
        <input class="form-control" type="email" id="email" name="email">

        <!-- Phone -->
        <label for="website">Website</label>
        <input class="form-control" type="text" id="website" name="website">

        <!-- Contact name -->
        <label for="contactName">Contact name</label>
        <input class="form-control" type="text" id="contactName" name="contactName">

      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
      <div class="form-group">

        <!-- Sector -->
        <label for="sector">Sector</label>
        <select class="form-control" id="sector">
        <option>Agriculture</option>
        <option>IT</option>
        <option>Construction</option> 
      </select>

        <!-- Subsector -->
        <label for="subsector">Subsector</label>
        <select class="form-control" id="subsector">
        <option>tata</option>
        <option>tata</option>
        <option>tata</option> 
      </select>

        <!-- Description -->
        <label for="description">Description</label>
        <textarea class="form-control" name="description" id="description" cols="30" rows="10"></textarea>

        <!-- Downtown -->
        <div class="customCheckbox">
          <div class="customCheckbox-success">
            <input type="checkbox" name="downtown" id="downtown" />
            <label for="downtown">Downtown</label>
          </div>
        </div>

        <!-- PRM access -->
        <div class="customCheckbox">
          <div class="customCheckbox-success">
            <input type="checkbox" name="prmAccess" id="prmAccess" />
            <label for="prmAccess">PRM access</label>
          </div>
        </div>
      </div>

    </div>

  </form>
</div>

<hr>

<div class="row">
  <button class="btn btn-primary btn-lg col-lg-3 col-md-3 col-sm-6 col-xs-6">Previous</button>
  <button class="btn btn-success btn-lg col-lg-3 col-md-3 col-sm-6 col-xs-6 pull-right"><i class="icon-repeat"></i>Next</button>
</div>